{% if error %}
  <p>{{ error }}</p>
{% endif %}
<!DOCTYPE html>
<html lan="en">
<head>
  <title>Waste Management</title>
  {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/home.css' %}"> {% endcomment %}
</head>
<body>
  <header>
    <div class="nav">
      <nav>
        <a href"#">HOME</a>
        <a href"#">ABOUT</a>
        <a href"#">NEWS</a>
        <a href"#">CONTACT</a>
        <a href"#">SERVICES</a>
      </nav>
    </div>
    <h1>
      Waste Management
    </h1>
  </header>  
<section class='login' id='login'>
<form method="POST" action="user_info.html">
  {% csrf_token %}
  <label for="username">Username:</label>
  <input type="text" name="username" required>
  <br>
  <label for="password">Password:</label>
  <input type="password" name="password" required>
  <br>
  <button type="submit">Log in</button>
  <br>
  <a href="register">Register</a>
</form>
</section>
</body>
</html>